<div class="row" ng-controller="youTubeCtrl">

	<div class="col-xs-12 col-sm-3 col-lg-4">
		<h3>Categories</h3>
		<ul class="categories">
			<li ng-repeat="playlist in playlists.items" ng-click="viewPlaylist(playlist.id)">{{playlist.snippet.title}}</li>
			<li class="all-videos-link" ng-show="playlistId" ng-click="viewAll()">All Videos</li>
		</ul>
	</div>

	<div class="col-xs-12 col-sm-9 col-lg-8">
		<div class="vid-box" ng-repeat="video in videos.items">
			<img src="{{video.snippet.thumbnails.medium.url}}" alt="{{video.snippet.title}} - {{video.snippet.channelTitle}}"/>
			<p>{{video.snippet.title}}</p>
		</div>

		<!--pager-->
		<div class="pager" ng-show="page && videos">
			<span class="pager-item" ng-show="videos.prevPageToken" ng-click="pageQuery(videos.prevPageToken, -1)">
				&laquo; Previous Page
			</span>
			<span class="pager-item">{{page}} of {{numberOfPages}}</span>
			<span class="pager-item" ng-show="videos.nextPageToken" ng-click="pageQuery(videos.nextPageToken, 1)">
				Next Page &raquo;
			</span>
		</div>

	</div>
</div>