<div class="row" ng-controller="youTubeCtrl">

	<!--Sidebar-->
	<div class="col-xs-12 col-sm-3 col-lg-4">
		<h3>Playlists</h3>
		<ul class="categories">
			<li ng-repeat="playlist in playlists.items" ng-click="viewPlaylist(playlist.id)"><a>{{playlist.snippet.title}}</a></li>
			<li class="all-videos-link" ng-show="playlistId || videoId" ng-click="viewAll()"><a>All Videos</a></li>
		</ul>
		<a ng-show="videoId" class="return-link" ng-click="destroy()">&laquo; Return to Video Listing</a>
	</div>

	<!--Main Content-->
	<div class="col-xs-12 col-sm-9 col-lg-8" ng-include="includePart">
		<!--The vid-grid or video display will go here-->
	</div>
</div>